<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/Site.css" rel="stylesheet" />
    <style>
        .editor-blok {
        }

        .editor-label {
            padding-top: 15px;
            float: left;
        }

        .editor-field {
            width: 150px;
            padding-top: 15px;
            padding-left: 260px;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div>
            <div class="col-xs-4">
                <ul class="topUl">
                    <li>
                        <a>@Html.ActionLink("Главная", "Index", "Home", null, null)</a>
                    </li>
                    <li>
                        <a>Мои обьявления</a>
                    </li>
                    <li>
                        <a>Подать обьявления</a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-4 col-xs-offset-4">
                <ul class="topUl">
                    <li>
                        @{
                            if (!@Smekay24.WebAPI.UserSession.IsUserLogged)
                            {
                            <a>@Html.ActionLink("Вход", "Login", "Login", null, null)</a>
                            }
                            else
                            {
                            <a>@Html.ActionLink(Smekay24.WebAPI.UserSession.CurrentUser.Name, "PersonalCabinetAdverts", "PersonalCabinet", null, null)</a>
                            }                           
                        }
                    </li>
                    <li>                      
                          @{
                            if (@Smekay24.WebAPI.UserSession.IsUserLogged)
                            {
                            <a>@Html.ActionLink("Выход", "Logout","Login",null,null)</a>
                            }
                            else
                            {
                            <a>@Html.ActionLink("Регистрация", "Registration", "Registration", null, null)</a>
                            }                           
                        }
                    </li>
                    <li>
                        <a>Правила</a>
                    </li>
                    <li>
                        <a>Контакты</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <section id="main">
        @RenderBody()
    </section>
</body>
</html>
