@model Smekay24.Models.RegistrationFormModel
@{
    ViewBag.Title = "Registration";
    Layout = "~/Views/Layout.cshtml";
}
@using BotDetect.Web.UI.Mvc;
<h2 style="text-align: center">Регистрация</h2>

<style type="text/css">
    .editor-field > input {
        width: 240px;
    }

    .smk-button > input {
        width: 250px;
    }

    #regForm .row {
        padding: 0 20px 20px 20px;
    }

    #regForm{
        border: 1px solid gray;
    }
</style>
<body>

    <div class="container-fluid">

        <div class="row" >
            <div class="col-xs-6 col-xs-offset-3" id="regForm">
                @using (Html.BeginForm())
                {
                    @Html.ValidationSummary(true)

                    <div class="row">
                        <div class="col-xs-6">
                            Частное лицо @Html.RadioButtonFor(model => model.IsPrivatePerson, true)
                        </div>

                        <div class="col-xs-3 col-xs-offset-3">
                            Предприятие @Html.RadioButtonFor(model => Model.IsPrivatePerson, false)
                        </div>
                    </div>
                    
                    <div class="row">
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeholder = "Введите почту(ваш логин)" })
                    </div>
                    
                    <div class="row">
                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @placeholder = "Введите имя(название организации)" })
                    </div>
                    
                    <div class="row">
                        @Html.TextBoxFor(model => model.Phones, new { @class = "form-control", @placeholder = "Введите контактный телефон(ы)" })
                    </div>
                    
                    <div class="row">
                        @Html.DropDownListFor(model => model.City, ViewData["cities"] as List<SelectListItem>, new { @class = "form-control" })
                    </div>
                    
                    <div class="row">
                        @Html.PasswordFor(model => model.Password, new { @class = "form-control", @placeholder = "Введите пароль" })
                    </div>
                    
                    <div class="row">
                        @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control", @placeholder = "Подтвердите пароль" })
                    </div>
                    
                    <div class="row">
                        @Html.CheckBoxFor(model => Model.IsUserAgree)  Я подтверждаю свое согласие с условиями пользовательского соглашения 
                    </div>
                    
                    <div class="row">
                        @Html.CheckBoxFor(model => Model.IsNotitifcationAssigned)  Я хочу получать уведомления  
                    </div>
                    
                    <div class="row">
                        <div>
                            @{ MvcCaptcha sampleCaptcha = new MvcCaptcha("SampleCaptcha");
                               sampleCaptcha.UserInputClientID = "CaptchaCode"; }
                            @Html.Captcha(sampleCaptcha)
                        </div>
                        <div class="actions" style="margin: -6px 35px;">
                            <div>
                                @Html.TextBox("CaptchaCode", "", new { @class = "form-control", @placeholder = "Введите надпись с рисунка", @style = "margin-top:14px;" })
                                @Html.ValidationMessage("CaptchaCode")
                                @if ((Request.HttpMethod == "POST") && ViewData.ModelState.IsValid)
                                {
                                    <span class="correct">Correct!</span>
                                }
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-xs-4 col-xs-offset-4">
                            <button type="submit" class="btn btn-info btn-block">Зарегистрироваться</button>
                        </div>
                    </div>
                }
            </div>
        </div>

    </div>

</body>

