@model Smekay24.Models.RegistrationFormModel
@{
    ViewBag.Title = "Registration";
    Layout = "~/Views/Layout.cshtml";
}
@using BotDetect.Web.UI.Mvc;
<h2 style="text-align: center">Регистрация</h2>

<style>
    .editor-field > input {
        width: 240px;
    }

    .smk-button > input {
        width: 250px;
    }
</style>
<body>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
    
        <div style="width: 500px; margin: 0 auto;">
            <div>
                <div style="float: left">
                    Частное лицо @Html.RadioButtonFor(model => model.IsPrivatePerson, true)
                </div>
                <div style="text-align: right;">
                    Предприятие @Html.RadioButtonFor(model => Model.IsPrivatePerson, false)
                </div>
            </div>
            <div>
                <div class="editor-label">
                    Введите почту(ваш логин):
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Email)
                    @Html.ValidationMessageFor(model => model.Email)
                </div>
            </div>
            <div>
                <div class="editor-label">
                    Введите имя(название организации):
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Name)
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </div>
            <div>
                <div class="editor-label">
                    Введите контактный телефон(ы):
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Phones)
                    @Html.ValidationMessageFor(model => model.Phones)
                </div>
            </div>
            <div>
                <div class="editor-label">
                    Выберите город:
                </div>
                <div class="editor-field">
                    @Html.DropDownListFor(m => m.City, ViewData["cities"] as List<SelectListItem>)
                </div>
            </div>
            <div>
                <div class="editor-label">
                    Введите пароль:
                </div>
                <div class="editor-field">
                    @Html.PasswordFor(model => model.Password)
                    @Html.ValidationMessageFor(model => model.Password)
                </div>
            </div>
            <div>
                <div class="editor-label">
                    Подтвердите пароль:
                </div>
                <div class="editor-field">
                    @Html.PasswordFor(model => model.ConfirmPassword)
                    @Html.ValidationMessageFor(model => model.ConfirmPassword)
                </div>
            </div>
            <div>
                @Html.CheckBoxFor(model => Model.IsUserAgree)
                Я подтверждаю свое согласие с условиями пользовательского соглашения         
            </div>
            <div>
                @Html.CheckBoxFor(model => Model.IsNotitifcationAssigned)
                Я хочу получать уведомления 
            </div>
            <div style="padding-left: 135px; padding-top: 20px;">
                <div>
                    @{ MvcCaptcha sampleCaptcha = new MvcCaptcha("SampleCaptcha");
                       sampleCaptcha.UserInputClientID = "CaptchaCode"; }
                    @Html.Captcha(sampleCaptcha)
                </div>
                <div class="actions" style="margin: -6px 35px;">
                    <div>
                        @Html.Label("CaptchaCode", "Введите надпись с рисунка:")
                    </div>
                    <div>
                        @Html.TextBox("CaptchaCode")
                        @Html.ValidationMessage("CaptchaCode")
                        @if ((Request.HttpMethod == "POST") && ViewData.ModelState.IsValid)
                        {
                            <span class="correct">Correct!</span>
                        }
                    </div>
                </div>
            </div>
            <div class="smk-button" style="margin: 25px 135px">
                <input type="submit" value="Зарегистрироваться" />
            </div>
        </div>
    }
</body>
