@{
    ViewBag.Title = "PersonalCabinet";
    Layout = "~/Views/Layout.cshtml";
}

<h2 style="text-align:center;">Личный кабинет</h2>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/Site.css" rel="stylesheet" />

    <style>
        .editor-blok {
        }

        .editor-label {
            padding-top: 15px;
            float: left;
        }

        .editor-field {
            width: 150px;
            padding-top: 15px;
            padding-left: 260px;
        }
    </style>
</head>
<body>
    <div>
        <div style="float: left; padding-left:80px;">
            <div>
                @Html.ActionLink("Мои объявления", "PersonalCabinetAdverts", "PersonalCabinet", null, null)
            </div>
            <div>
                @Html.ActionLink("Избранное", "PersonalCabinetAdverts", "PersonalCabinet", null, null)
            </div>
            <div>
                @Html.ActionLink("Настройки", "PersonalCabinetSettings", "PersonalCabinet", null, null)
            </div>
        </div>
        <section id="main">
            @RenderBody()
        </section>
    </div>
</body>
</html>
