@{
    ViewBag.Title = "PersonalCabinetSettings";
    Layout = "~/Views/PersonalCabinet/PCabLayout.cshtml";
    Smekay24.Users user = ViewData["user"] as Smekay24.Users;    
}

@model Smekay24.Models.PCSettingsModel

<style>
    .disabledLink {
        pointer-events: none;
    }
</style>
<script>
    checkBoxClick = function () {
        if ($('#confirmChk').is(':checked'))
            $('#deleteLinkID').removeClass();
        else
            if (!$('#deleteLinkID').hasClass('disabledLink')) {
                $('#deleteLinkID').addClass('disabledLink')
            }

    };
</script>
<div style="padding-left: 260px;">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
    
        <div class="container-fluid" style="padding-top:5px;">
            <div class="row" id="formDiv">
                <div class="col-xs-6 col-xs-offset-1">
                     <h3>Контактная информация</h3>
                    <div class="row" style="margin-top: 20px;">
                        <div class="col-xs-12">
                            @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @placeholder = "Ф.И.О." })
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            @Html.TextBoxFor(model => model.Contact, new { @class = "form-control", @placeholder = "Контактное лицо" })
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            @Html.TextBoxFor(model => model.Phones, new { @class = "form-control", @placeholder = "Контактный телефон(ы)" })
                        </div>
                    </div>

                    <div class="editor-label">
                        Выберите город:
                    </div>
                    <div class="editor-field">
                        @Html.DropDownListFor(m => m.City, ViewData["cities"] as List<SelectListItem>)
                    </div>

                    <div class="row" style="padding-left:15px;">
                        <h3>Подписка</h3>
                        <div>
                            @Html.CheckBoxFor(model => Model.News)
                            Новости сайта 
                        </div>

                        <div>
                            @Html.CheckBoxFor(model => Model.Notifications)
                            Получать уведомления 
                        </div>

                        <div>
                            @Html.CheckBoxFor(model => Model.Reminders)
                            Получать напоминания 
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            @Html.TextBoxFor(model => model.CurrentPassword, new { @class = "form-control", @placeholder = "Текущий пароль" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            @Html.TextBoxFor(model => model.NewPassword, new { @class = "form-control", @placeholder = "Новый пароль" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            @Html.TextBoxFor(model => model.ConfirmNewPass, new { @class = "form-control", @placeholder = "Подтвердите новый пароль" })
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-xs-4 col-xs-offset-4">
                            <button type="submit" class="btn btn-info btn-block">Сохранить</button>
                        </div>
                    </div>

                    <div class="row" style="padding-left:15px;">
                        <h3>Удаление учетной записи</h3>
                        Вы желаете удалить учетную запись и все объявления?
            <div>
                @Html.CheckBox("deleteCheckBox", false, new { @id = "confirmChk", @onchange = "checkBoxClick()" })
                Подтверждаю удаление
            </div>
                        <div>
                            @Html.ActionLink("Удалить", "PersonalCabinetDelete", "PersonalCabinet", null, new { @id = "deleteLinkID", @disabled = "true", @class = "disabledLink" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
