@{
    ViewBag.Title = "Смекай";
    Layout = "~/Views/Layout.cshtml";
}

<style type="text/css">
    .categoryBlock {
        border: 1px solid gray;
        min-height: 200px;
        margin-top: 30px;
        border: 2px solid #E52D33;
        border-radius: 25px 0 25px 25px;
        -moz-border-radius: 25px 0 25px 25px;
        -webkit-border-radius: 25px 0 25px 25px;
    }

        .categoryBlock input {
            font-size: 12px;
        }

    .cat {
        height: 80px;
        background: url("/images/autoCat.jpg") no-repeat;
        background-size: auto 80px;
    }

    @@font-face {
        font-family: a_Bremen;
        src: url("/fonts/a_Bremen/a_Bremen.TTF");
    }

    @@font-face {
        font-family: calligra;
        src: url(fonts/calligra/calligra.ttf);
    }

    @@font-face {
        font-family: favorit;
        src: url(fonts/favorit/favorit.ttf);
    }
</style>

<script type="text/javascript">
    function getCatAdverts(catrext) {
        window.location.href = '/Advert/GetAdvertsFromCategory?catText=' + catrext;//  GetAdvertsFromCategory           
    }

    function openRegion() {

        var h = $('#regOpenRow').height();

        if (h < 400)
            $('#regOpenRow').animate({ height: '500px' }, 1000);
        else
            $('#regOpenRow').animate({ height: '87px' }, 1000);

        return false;
    }
    $(document).ready(function () {
        $('.categoryA').mouseenter(function () {
            $(this).animate({ fontSize: '30px' }, 100);
        }).mouseleave(function () {
            $(this).animate({ fontSize: '25px' }, 200);
        });;
    });

</script>
<body>
    <div class="container-fluid">

        <div class="row">
            <div class="col-xs-4 col-xs-offset-4">
                <h1 style="text-align: center;"><b>smekay.center</b></h1>
                <h5 style="text-align: center;">Проходите по любому адресу</h5>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-5 col-xs-offset-1" style="border: 1px solid rgb(229, 45, 51);border-radius: 15px;text-align: center;box-shadow: 0 0 25px rgba(0,0,0,0.5);">
                <div > <!--style="font-family: a_Bremen; font-family: a_Bremen;"-->
                    <h2>Смекай24.рф</h2>
                    <h3>Здесь Вы можете продать любой Б\У товар</h3>
                    <h3>Здесь Вы можете его и купить</h3>
                    <h3>ВСЕ Б\У ТОВАРЫ ОТ А до Я</h3>
                </div>
            </div>
            <div class="col-xs-4" style="border: 1px solid rgb(229, 45, 51); border-radius: 15px; text-align: center; margin-left: 30px; box-shadow: 0 0 25px rgba(0,0,0,0.5);">
                <h2>Smekay24.ru</h2>
                <h3>Smekay.net</h3>
                <h3>Знакомства в вашем городе</h3>
                <h3>И ПО ВСЕЙ РОССИИ</h3>
            </div>
        </div>

        <div class="row" style="margin-top: 10px; margin-bottom: 10px;">
            <div class="col-xs-3 col-xs-offset-1">
                <button type="button" onclick="location.href='@Url.Action("AddAdvert", "Advert")'"  class="btn btn-danger" id="submitForm" name="submitForm">Подать обьявления</button>

            </div>

            <div class="col-xs-2 ">
                <p>Всего: <a href="#">@ViewData["allAsvertCount"]</a> объявлений</p>
            </div>
        </div>

        <div class="row" style="height: 60px;">
            <!-- Список категорий -->
            <div class="col-xs-11 col-xs-offset-1">
                <ul class="menu">
                    @{
                        foreach (SelectListItem cat in (List<SelectListItem>)ViewData["category"])
                        {
                        <li>
                            <a href="#" onclick="getCatAdverts('@cat.Text')"  >@cat.Text </a>
                        </li>		
                        }	
                    }
                </ul>

            </div>
        </div>

        <div class="row" style="margin-top: 30px;">
            <!-- Поиск -->
            <div class="col-xs-8 col-xs-offset-2">
                <div class="row">
                    <div class="col-xs-1"><b>Искать</b></div>
                    <div class="col-xs-5">
                        <input type="text" name="search" class="form-control" id="search" />
                    </div>
                    <div class="col-xs-1"><b>в</b></div>
                    <div class="col-xs-3">@Html.DropDownList("Category", ViewData["category"] as List<SelectListItem>, new { @class = "form-control" })</div>
                    <div class="col-xs-2">
                        <button type="submit" onclick="searchClick();" class="btn  btn-block"  id="searchBtn" name="submitForm">Поиск</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="margin-top: 20px;">
            <!-- Выбор региона -->
            <div class="col-xs-10 col-xs-offset-1">
                <fieldset>
                    <legend style="margin-bottom: 0; border: 0;">Выберите регион</legend>

                    <div class="row" style="border: 1px solid silver; padding: 10px; border-radius: 20px;" id="regOpenRow">
                        @{
                            int cols = 0;
                            string text = "";
                            foreach (Smekay24.City city in (List<Smekay24.City>)ViewData["cities"])
                            {
                            <div class="col-xs-2" style="margin-top: 10px;">
                                <a href="#">@city.Name</a>
                            </div>

                                
                            }
                        }
                    </div>
                    <a href="javascript:void(0)" onclick="openRegion()" id="openRegion">Все регионы</a>
                </fieldset>
            </div>
        </div>

        <div class="row" style="margin-top: 30px;">
            <!-- Категории и последние обьявления -->

            <div class="col-xs-6 col-xs-offset-1">

                @{
                    List<Smekay24.Models.CategoryCover> list = (List<Smekay24.Models.CategoryCover>)ViewData["categoryAdverts"];
                    int count = list.Count;
                    for (int i = 0; i < count; i += 3)
                    {
                    <div class="row">
                        <div class="col-xs-3 categoryBlock">
                            <h4>@list[i].Name</h4>
                            <div class="cat @list[i].Name"></div>
                            <a href="#">@list[i].CountAdvert объявлений</a>
                            <p>@list[i].Desc</p>
                            <button type="button" onclick="location.href='@Url.Action("AddAdvert", "Advert")'" style="  padding-left: 2px;width: 133px;margin-bottom: 10px;" class="btn btn-danger"  name="submitForm">Подать обьявление</button>
                        </div>

                        @if (i + 1 < count)
                        {
                            <div class="col-xs-3 col-xs-offset-1  categoryBlock">
                                <h4>@list[i + 1].Name</h4>
                                <div class="cat @list[i + 1].Name"></div>
                                <a href="#">@list[i + 1].CountAdvert объявлений</a>
                                <p>@list[i + 1].Desc</p>
                                <button type="button" onclick="location.href='@Url.Action("AddAdvert", "Advert")'" style="  padding-left: 2px;width: 133px;margin-bottom: 10px;" class="btn btn-danger"  name="submitForm">Подать обьявление</button>

                            </div>
                        }

                        @if (i + 2 < count)
                        {
                            <div class="col-xs-3 col-xs-offset-1 categoryBlock">
                                <h4>@list[i + 2].Name</h4>
                                <div class="cat @list[i + 2].Name"></div>
                                <a href="#">@list[i + 2].CountAdvert объявлений</a>
                                <p>@list[i + 2].Desc</p>

                                <button type="button" onclick="location.href='@Url.Action("AddAdvert", "Advert")'" style="  padding-left: 2px;width: 133px;margin-bottom: 10px;" class="btn btn-danger"  name="submitForm">Подать обьявление</button>

                            </div>
                        }
                    </div>
                    }
                }


            </div>


            <div class="col-xs-4" style="border: 1px solid #ff6163; border-radius: 20px; top: 30px; padding-left: 30px;padding-right: 30px;">
                @*<div class="col-xs-10 col-xs-offset-2">
                    <h3 style="margin: 0;">Последние обьявления</h3>
                </div>*@

                <h2 class="last_header">Последние обьявления</h2>


                @{
                    foreach (Smekay24.Advert adv in (List<Smekay24.Advert>)ViewData["adverts"])
                    {
                    <div class="row" style="border-bottom: 1px solid silver;">
                        <div class="col-xs-6">
                            <a href="@Url.Action("GetAdvertByID", "Advert", new { id = adv.ACode })">
                                <img src="@adv.History" style="width: 90%;" />
                            </a>
                        </div>

                        <div class="col-xs-6">
                            <p><b>@adv.Title</b></p>
                            <i>@adv.Price</i>
                            <p style="color: blue;">@adv.Date</p>
                        </div>
                    </div> 
                    }
                }

            </div>
        </div>

        <div class="row">
            <div class="col-xs-6 col-xs-offset-6">
                <ul class="topUl">
                    <li>
                        <a>Контакты</a>
                    </li>
                    <li>
                        <a>Пользовательское соглашение</a>
                    </li>
                    <li>
                        <a>Политика конфиденциальности</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</body>
